import(IRanges)
import(GenomicRanges)


		   
export(splicingReport, splicingShowReport, splicingCleanReport, 
	   splicingGene, combineGene, splicingCount, combineCount, 
	   translateGTF, updateTRUEIntron)


